.body--tong{
    background-color: #D2691E;
    background-image: url(../image/Bai03.jpg);text-align: center;
    background-repeat: no-repeat; text-align: center;
    background-position: 50% 
    ; margin-bottom: 300px;
    ; color: aliceblue;
  }
  .body--h{
    color: yellow;
  }
  